# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

/build/
/dist/

.idea

DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
./internal/infrastructure/.DS_Store
./internal/infrastructure/storage/db/badger/.DS_Store

./internal/core/application/testdb
./internal/core/application/testoperator
./internal/core/application/testoperator/*
./internal/infrastructure/storage/db/badger/testdb
internal/core/application/testDatadir/

.vscode/

localhost.key
localhost.crt
