name: Go

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  integration:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: '>=1.17.2'

      - name: Setup buf
        uses: bufbuild/buf-setup-action@v1.3.1
      
      - name: Lint protos
        uses: bufbuild/buf-lint-action@v1
        with:
          input: 'api-spec/protobuf'

      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          args: '-severity high -quiet ./...'

      - name: Run Nigiri
        uses: vulpemventures/nigiri-github-action@v1

      - name: Get dependencies
        run: go get -v -t -d ./...

      - name: Run Tests
        run: |
          export TEST_ELEMENTS_ENDPOINT='http://admin1:123@localhost:18884'
          make test
      
      - name: Setup buf
        uses: bufbuild/buf-setup-action@v1.3.1

      - name: Lint protos
        uses: bufbuild/buf-lint-action@v1
        with:
          input: "api-spec/protobuf"
